@import "tailwindcss";

*{
    font-family: "Alexandria", sans-serif;
    font-weight: 300;
}

.glass {
    background-color: rgb(255, 255, 255, 0.2);
    backdrop-filter: blur(50px);
    box-shadow: 2px 2px 2px rgba(30,30,30,0.5);
  }
